/* CSS personalizado para mejorar la apariencia */
body {
    padding-top: 56px;
    padding-bottom: 20px;
    background-color: #f8f9fa; /* Color de fondo */
}

.row{
    justify-content: center;
}
/* Estilos para las Cards de Productos */

.catalogo-title {
    text-align: center;
}

.catalogo-logo {
      text-align: center;
}