
/* Navbar personalizado */
.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.brand-logo img {
    height: 30px;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.menu-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #800020; /* Color del menú hamburguesa */
    position: relative;
}

.menu-icon::before,
.menu-icon::after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #800020;
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.menu-icon::before {
    top: -8px;
}

.menu-icon::after {
    top: 8px;
}

.navbar-menu {
    display: none; /* Ocultar menú por defecto en móvil */
}

.custom-navbar.active .navbar-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu ul li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: #800020;
    font-weight: bold;
    display: block;
}

.navbar-menu ul li a:hover {
    background-color: #f1f1f1;
}