/* Reset CSS */
@import 'carts.css';

/* LOGIN */
.login-page {
  background: linear-gradient(135deg, #ff6f61, #de5078);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.btn-login {
  background-color: #340634;
  color: #fff;
  border-radius: 25px;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #5a0b5a;
}

.login-container {
  background: #fff;
  padding: 2rem 2rem 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 310px;
}

.logo img {
  width: 100px;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  border-radius: 25px;
  padding: 0px 20px;
  border: 1px solid #ccc;
  width: 100%;
}

.form-links {
  margin-bottom: 1rem;
  text-align: right;
}

.btn {
  background-color: #340634;
  color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
}

.signup-link {
  margin-top: 1rem;
}

.signup-link a {
  color: #340634;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* FIN LOGIN */
/* NAVBAR */
/* Estilos para las Cards de Productos */
.product-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  display: flex;
  height: 430px;
  width: 180px;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centra las cards en dispositivos móviles */
    }
    
    .product-card {
        flex-basis: calc(50% - 20px); /* Cards ocupan 50% del contenedor en móviles */
        max-width: calc(50% - 20px); /* Asegura que el ancho máximo sea 50% */
    }
}

@media (max-width: 480px) {
    .product-card {
        flex-basis: 100%; 
        max-width: 80%;
    }
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-image-container {
  border-radius: 10px;
  background-color: #f9f9f9;
  height: 65%;
}

.btn-ver-mas-small {
  font-size: 1rem;
  color: #ff4a4a;
  text-decoration: none;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.btn-ver-mas-small:hover {
  color: #ff6b6b;
}

.product-image {
  height: 100%;
  max-width: 100%;
  aspect-ratio: 16/4;

}

.product-details h3 {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
}

.price {
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 15px;
  text-align: left;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.battery-status {
  display: flex;
  align-items: center;
}

.bateria {
  font-size: 1rem;
  color: #00A300;
  margin-right: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.battery-icon {
  width: 20px;
  height: 20px;
}

.btn-ver-mas-small {
  font-size: 1rem;
  color: #ff4a4a;
  text-decoration: none;
  font-weight: bold;
}

.btn-ver-mas-small:hover {
  color: #ff6b6b;
}

/* Navbar personalizado */
.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  background-color: white;
  border-bottom: 1px solid #06060681;
  border-radius: 15px;
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}

.custom-navbar.active {
  border-radius: 0;
}

.brand-logo img {
  height: 50px;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.menu-toggle:focus,
.menu-toggle:active {
  outline: none;
  border: none;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #800020;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
  border: none;
}

.menu-icon {
  position: relative;
  background-color: #800020;
  transition: background-color 0.3s ease-in-out;
}

.menu-icon::before {
  content: '';
  top: -8px;
}

.menu-icon::after {
  content: '';
  top: 8px;
}

.menu-toggle.active .menu-icon {
  background-color: transparent;
}

.menu-toggle.active .menu-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle.active .menu-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: right;
}

.custom-navbar.active .navbar-menu {
  display: block;
  flex-direction: column;
  border-bottom: 1px solid #a32c2c;
}

.navbar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu ul li {
  padding: 0.5rem 1rem;
  border-top: 1px solid #a32c2c;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: #800020;
  font-weight: bold;
  display: block;
}

.navbar-menu ul li a:hover {
  background-color: #f1f1f1;
}


/* FIN NAVBAR */
/* INDEX */

/* Estilos generales */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Sección de bienvenida */
.welcome-section {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-section h1 {
  font-size: 1.5rem;
  color: #800020;
}

.welcome-section p {
  font-size: 1.2rem;
  color: #333;
}

/* Sección del carousel */
.carousel-section {
  margin-bottom: 40px;
}

/* Sección de productos destacados */
.featured-products {
  margin-bottom: 40px;
}

.featured-products h2 {
  font-size: 1.5rem;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

.products-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.product-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 1rem;
  color: #555;
}

.btn-buy {
  display: inline-block;
  padding: 10px 20px;
  background-color: #800020;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-buy:hover {
  background-color: #5a0b5a;
}

/* Sección About */
.about-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}


/* Fin index */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Navbar Styling */
/* .navbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #ff0000;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 500;
}

.navbar a:hover {
  color: #0070c9;
}
 */
/* Main Content Styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  color: #333;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Button Styling */
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #0070c9;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #005bb5;
}

/* Card Styling */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 2rem;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card-text {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Footer Styling */
.footer {
  background-color: #f8f8f8;
  padding: 2rem 0;
  text-align: center;
}

.footer p {
  color: #777;
}